/* [SKYNDAS.DE.VU]
 * CSS Style for Gorgone WebIF
 * Author:Skyndas     
 */

/* 1. RESET STYLE
----------------------------------------------------------------------------- */
html, body, div, table, tbody, tfoot, thead, tr, th, td, ul, li {margin:0;padding:0;border:0;}

/* 2. BASE CSS STYLE
----------------------------------------------------------------------------- */
BODY {background-color: #525252;color:#fff;font-family: Arial; font-size: 11px; text-align:center;}
P {color: white; }
P.blinking {text-decoration: blink; font-weight:bold; font-size:large; color:red;}
P.styleauthor:after {content:"& Gorgone - Skyndas (modification)";}
H2 {color: #AAAAAA; font-family: Arial; font-size: 32px; line-height: 32px; text-align:center; margin-top:0px; margin-bottom:0px}
H4 {color: #AAAAAA; font-family: Arial; font-size: 12px; line-height: 9px; text-align:center}
A:link {color: #DB2600;}
A:visited {color: #DB2600;}
A:active {color: #DB2600;}
A:hover {color: #0056a1;}

/* 3. MAIN NAVBAR
----------------------------------------------------------------------------- */
#nav{
  background-color:#262626;
  box-shadow:0 1px 10px #5e5e5e;
  border-bottom:1px solid #fff;
  width:100%;
  height:45px;
  position:fixed;
  right:0;
  left:0;
  top:0;
  text-align:center;
  z-index:1050
  }
#menu {
  list-style-type:none;
  margin:5px auto;
  display: table;
  }
#menu li {
  float:left;
  display:block;
  padding:10px;
  text-align:center;
  position:relative;
  }
#menu li:hover {
  padding:10px
  }
#menu li a {
  color:#ededed;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  outline:0;
  text-decoration:none
  }
#menu li.menu_selected A {
  color:#007ae6;
  text-decoration:underline;
  font-weight:bold
  }
#menu li.menu_selected a:hover {
  color:#007ae6;
  font-weight:bold
  }
#menu li.menu_selected:hover a {
  font-weight:bold
  }
#menu li:hover {
  background:#373737
  }
#menu li:hover a {
  text-decoration:underline
  color:#007ae6
  }
#menu li:hover a:hover {
  color:#007ae6
  }
#menu li.brand a,#menu li.brand a:hover {
  font-size:18px;
  font-weight:bold;
  text-decoration:none
  color:#ededed
  }
#menu li.brand,#menu li.brand:hover {
  background:0;padding:7px
  }

/* 4. SUBNAVBAR
----------------------------------------------------------------------------- */
/* ============= SUBNAVBAR COLOR ONLY ============= */
#sub a {
	color: #2e2e2e;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #fff;
  }
/* main level link hover */
#sub li:hover > a {
	color: #0098fc;
  }
#sub li.configmenu_selected > a:link,
#sub li.configmenu_selected > a:visited,
#sub li.configmenu_selected > a:active{
	color: #0098fc;
  }
/* dropdown */
#sub ul li.configmenu_selected > a:link,
#sub ul li.configmenu_selected > a:visited,
#sub ul li.configmenu_selected > a:active{
	color: #0098fc;
  }
#sub ul li > a:hover {
	background-color: #0098fc;
  }
.subnav {
	background-color: #eee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eee 100%); /* Opera 11.10+ */
	border-bottom: 1px solid #aeaeae;
  }
/* ======================= SUBNAVBAR ======================= */
#sub {
	margin:0 auto 0 auto;
	list-style-type: none;
  display: table;
  }
#sub li {
	float: left;
	position: relative;
	list-style: none;
	font-size:11px;
  }
#sub li.configmenu_selected > a:link,
#sub li.configmenu_selected > a:visited,
#sub li.configmenu_selected > a:active{
	padding: 11px 5px;
	font-weight: bold;
	background-color:#E4E4E4;
  }
#sub li.configmenu_selected > a:hover{
	background-color:#E4E4E4;
  }
#sub li:first-child > a,
#sub li:first-child > a:hover {
	border-left: 0;
  }
#sub li:last-child > a {
	border-right: 0;
  }
.subcaret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #606060;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	opacity: 1;
  }
.drop .subcaret {
	margin-top: 5px;
	margin-left: 7px;
  }
/* main level link */
#sub a {
	text-decoration: none;
	padding: 11px 7px;
	display: block;
  }
/* main level link hover */
#sub li:hover > a {
	background-color:#ECECEC;
  }
#sub li:hover > ul {
	display: block;
  }

/* level 2 list */
#sub ul {
	background-color: #ffffff; /* for non-css3 browsers */
	display: none;
	margin: 0;
	padding: 0;
	min-width: 90px;
	position: absolute;
	top: 33px;
	right: 0px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	z-index:1050;
	border-radius: 0.2em 0.2em 0px 0px;
  }
#sub ul.right {
	background-color: #ffffff; /* for non-css3 browsers */
	display: none;
	margin: 0;
	padding: 0;
	min-width: 90px;
	position: absolute;
	top: 33px;
	left: 0px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	z-index:1050;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
  }
/* dropdown */
#sub ul li {
	float: none;
	line-height:70%;
	margin: 0;
	padding: 0;
  }
#sub ul li > a{
	border:none;
  }
#sub ul li > a:hover {
	color: #ffffff;
	text-decoration: none;
  }
#sub ul li.configmenu_selected > a:link,
#sub ul li.configmenu_selected > a:visited,
#sub ul li.configmenu_selected > a:active{
	padding: 10.5px 5px;
	font-weight: bold;
	background-color:#E4E4E4;
  }
#sub ul li.configmenu_selected > a:hover{
	background-color:#E4E4E4;
  }
#sub ul > li:first-child > a {
	margin-top:5px;
  }
#sub li:last-child > a {
	margin-bottom:5px;
  }
.subnav {
	width: 100%;
	height: 36px;
	z-index:1030;
  }
/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1); /* WebKit */
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1); /* Firefox */
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1); /* Standard */
    }
  }

/* 5. TABLES
----------------------------------------------------------------------------- */
/* BASE STYLE FROM ENEEN */
TABLE {border-spacing:1px; border:0px; padding:0px; margin-left:auto; margin-right:auto;}
TH {height:10px; border:0px; font-family: Arial; font-size: 11px; padding:5px; background-color:#CCCCCC; color:black;}
TH.statuscol0 {text-align:center;width:10px;}
TH.statuscol1 {text-align:center;}
TH.statuscol2 {text-align:center;}
TH.statuscol3 {text-align:center;}
TH.statuscol4 {text-align:center;}
TH.statuscol5 {text-align:center;}
TH.statuscol6 {text-align:center;}
TH.statuscol7 {text-align:center;}
TH.statuscol8 {text-align:center;}
TH.statuscol9 {text-align:center;}
TH.statuscol10 {text-align:center;}
TH.statuscol11 {text-align:center;}
TH.statuscol12 {text-align:center;}
TH.statuscol13 {text-align:center;}
TH.statuscol14 {text-align:center;}
TH.statuscol15 {text-align:center;}
TH.statuscol16 {text-align:center;}
TD {height:10px; border:0px; font-family: Arial; font-size: 11px; padding:5px; background-color:#EEEEEE; color:black;text-align: left}
TD.centered {text-align:center;}
TD.statuscol0 {text-align:center;width:10px;}
TD.statuscol1 {text-align:center;}
TD.statuscol2 {text-align:center;}
TD.statuscol3 {text-align:center;}
TD.statuscol4 {}
TD.statuscol5 {text-align:center;}
TD.statuscol6 {text-align:center;}
TD.statuscol7 {text-align:center;}
TD.statuscol8 {text-align:center;}
TD.statuscol9 {}
TD.statuscol10 {text-align:center;}
TD.statuscol11 {text-align:center;}
TD.statuscol12 {text-align:center;}
TD.statuscol13 {}
TD.statuscol14 {text-align:center;}
TD.statuscol14 A {text-decoration: none;}
TD.statuscol15 {text-align:center;}
TD.statuscol16 {text-align:center;}
TD.statuscol16 A {text-decoration: none;}
TD.usercol0 {text-align:center;}
TD.usercol1 {white-space: normal;}
TD.usercol2 {text-align:center;}
TD.usercol3 {text-align:center;}
TD.usercol4 {text-align:center;}
TD.usercol5 {text-align:center;}
TD.usercol6 {text-align:center;}
TD.usercol7 {text-align:center;}
TD.usercol8 {text-align:center;}
TD.usercol9 {text-align:center;}
TD.usercol10 {text-align:center;}
TD.usercol11 {text-align:center;}
TD.usercol12 {text-align:center;}
TD.usercol13 {text-align:center;}
TD.usercol14 {text-align:center;}
TD.usercol15 {text-align:center;}
TD.usercol16 {text-align:center;}
TD.usercol17 {text-align:center;}
TD.usercol18 {text-align:center;}
TD.usercol19 {text-align:center;}
TD.usercol20 {text-align:center;}
TD.usercol21 {text-align:center;}
TD.usercol22 {text-align:center;}
TD.usercol23 {text-align:center;}
TH.withservices {width:200px; text-align:left; padding:5px;}
TH.notservices {width:400px; text-align:left; padding:5px;}
TH.lbservices {width:250px; text-align:left; padding:5px;}
TD.servicescol1 {width:200px; font-family:Arial; font-size: 12px; padding:3px; background-color:#EEEEEE; text-align:left;}
TD.servicescol2 {width:400px; font-family:Arial; font-size: 12px; padding:3px; background-color:#EEEEEE; text-align:left;}
TD.servicescol3 {width:250px; font-family:Arial; font-size: 12px; padding:3px; background-color:#EEEEEE; text-align:left;}
TD.menu {color:black; background-color:white; font-family: Arial; font-size:14px; font-weight:bold;white-space: normal;}
TD.menu_selected {color:black; background-color:#E6FEBF; font-family: Arial; font-size:14px; font-weight:bold;font-style:italic;}
TD.subheadline {height:10px; border:0px; font-family: Arial; font-size: 11px; padding:5px; background-color:#CCCCCC; color:black;}
TD.subheadline A {text-decoration: none;}
TR.online TD {background-color:#BBFFAA;}
TR.expired TD {background-color:#FFBBAA;}
TR.connected TD {background-color:#FFFFAA;}
TR.disabled TD:first-child IMG.icon {background-color:#00AA00;}
TR.disabledreader TD:first-child IMG.icon {background-color:#00AA00;}
TR.scanusbsubhead TD {background-color:#fdfbe1;}
TR.e_valid TD {background-color:#E6FEBF;text-align:center; font-family:"Courier New", monospace;}
TR.e_expired TD {background-color:#fff3e7;text-align:center; font-family:"Courier New", monospace;}
TR.e_header TD {text-align:center; font-family:"Courier New", monospace;}
TABLE.menu {border-spacing:0px; border:0px; padding:0px; margin-left:auto; margin-right:auto;}
TABLE.config {width:750px;}
TABLE.configreader {width:850px;}
TABLE.invisible TD {border:0px; font-family:Arial; font-size: 12px; padding:5px; background-color:#EEEEEE;}
TABLE.invisiblelb {border-spacing:0px; width:850px;}

/* MODIFICATION GORGONE and SKYNDAS 
------------------------------------*/
/* STATUS.HTML */
TABLE.status {background-color:#95a4ab; border:3px solid #0f1517; empty-cells:show;width:99%;}
TR.s TD{background-color:#c8c8e0}
TR.s:hover TD,TR.s:hover TD SPAN,TR.s:hover TD SPAN A{background-color:#97b6c2;color:black}
TR.s IMG.icon{width:22px;height:22px;background-color:#0a0;border-radius:3px;-webkit-border-radius:3px}
TR.s A:hover IMG.icon{width:22px;height:22px;background-color:#076600}
TR.l TD{background-color:#e1e1ef}
TR.n TD{background-color:#e1e1ef}
TR.h TD{background-color:#c8c8e0}
TR.h:hover TD,TR.h:hover TD SPAN,TR.h:hover TD SPAN A{background-color:#97b6c2;color:black}
TR.h IMG.icon{width:22px;height:22px;background-color:#0a0;border-radius:3px;-webkit-border-radius:3px}
TR.h A:hover IMG.icon{width:22px;height:22px;background-color:#076600}
TR.r TD{background-color:#f2d8bd}
TR.r:hover TD,TR.r:hover TD SPAN,TR.r:hover TD SPAN A{background-color:#97b6c2;color:black}
TR.r IMG.icon{width:22px;height:22px;background-color:#ffb31a;border-radius:3px;-webkit-border-radius:3px}
TR.r A:hover IMG.icon{width:22px;height:22px;background-color:#b37700}
TR.p TD{background-color:#edeac2;}
TR.p:hover TD,TR.p:hover TD SPAN,TR.p:hover TD SPAN A{background-color:#97b6c2;color:black}
TR.p IMG.icon{width:22px;height:22px;background-color:#e00000;border-radius:3px;-webkit-border-radius:3px}
TR.p A:hover IMG.icon{width:22px;height:22px;background-color:#7a0000}
TR.c TD{background-color:#ccdada}
TR.c:hover TD,TR.c:hover TD SPAN,TR.c:hover TD SPAN A{background-color:#97b6c2;color:black}
TR.c IMG.icon{width:22px;height:22px;background-color:#007ae6;border-radius:3px;-webkit-border-radius:3px}
TR.c A:hover IMG.icon{width:22px;height:22px;background-color:#005aa8}
TR.a TD {background-color:#33ff00;}
/* Settings header of section */
TABLE.sectionclient {width:99%;}
TABLE.sectionclient TD {background-color:transparent;text-transform:uppercase;font-weight:bold;color:#fff;} 
TABLE.numclient {width:99%;border-top:3px solid #0f1517;border-bottom:3px solid #0f1517;} 

/* CONFIG.HTML , USER_EDIT.HTML , READERCONFIG.HTML*/
/* Table class "config" is in config.html?part=XXX and user_edit.html and readerconfig.html?label=XXX */
TABLE.config{border:3px solid #0f1517;width:810px;background-color:#95a4ab}
TABLE.config TR:hover TD{background-color:#97b6c2;color:black}
TABLE.config TD:first-child {width:160px;}
/* Style for last row without hover */
TABLE.config TR:last-child:hover TD {background-color:#eeeeee;color:black;}
/* For Table in last row with hover TABLE.config TR*/
TABLE.invisible {margin-left: 0px;}
TABLE.invisible TD {font-family:Arial; font-size: 12px; padding:5px; width:auto !important;}
TABLE.invisible TR:hover TD {background-color: #97b6c2 !important;}
/* For row hover in Entitlements for Global - CCcam*/
TABLE.statsglobal{border:3px solid #0f1517;background-color:#95a4ab}
TABLE.statsglobal TR:hover TD{background-color:#97b6c2;color:black}

/* READERS.HTML */
/* Table in readers.html */ 
TABLE.readers{border:3px solid #0f1517;background-color:#95a4ab}
/* For row hover */
TR.enabledreader:hover TD{background-color:#97b6c2;color:black}
TR.disabledreader:hover TD{background-color:#97b6c2;color:black}
TR.disabledreader TD:first-child IMG.icon {background-color:#00AA00;}
TR.disabledreader TD:first-child A:hover IMG.icon {background-color:#076600;}
/* Table loadbalacer statistics - readerstats.html?label=XXXX */ 
TABLE.statsbalance{border:3px solid #0f1517;margin:auto auto;background-color:#95a4ab}
TABLE.statsbalance TD:last-child{line-height: 20px;}
TABLE.statsbalance TD:last-child IMG.icon{float: right;margin-left: 10px;}
TABLE.statsbalance TR:hover TD{background-color:#97b6c2;}
TD.subheadline{height:10px;font-family:Arial;font-size:11px;padding:5px;background-color:#0078a5;color:#fff}
TD.subheadline A {color:#000033;}
TD.subheadline A:hover {color:#fff1c3;}
TABLE.statsbalance TR:hover TD.subheadline {background-color:#0078a5 !IMPORTANT;}
/* Table for entitlements readers - entitlements.html?label=XXXX */
TABLE.statsentitle {border: 3px solid #0f1517;}
TABLE.statsentitle TR:hover TD {background-color:#97b6c2;color: white;}
/* Table in emm.html?label= have class "stats"

/* USERCONFIG.HTML */
/* Base table */
TABLE.users{width:99%;border-bottom:3px solid #0f1517;}
TABLE.users TH{border-bottom:3px solid #0f1517}
TABLE.users TH:first-child{background-color:#525252;}
TABLE.users TH:last-child{background-color:#525252;}
TABLE.user_totals{border:3px solid #0f1517;margin-top:10px}
/* User is online */
TR.online TD{background-color:#bfa}
TR.online:hover TD{background-color:#97b6c2;color:black}
/* User is offline */ 
TR.offline:hover TD{background-color:#97b6c2;color:black}
/* User is disables */
TR.disabled:hover TD{background-color:#97b6c2;color:black}
TR.disabled TD.usercol0 IMG.icon{background-color:#0a0}
TR.disabled TD.usercol0 A:hover IMG.icon{background-color:#076600}
/* Use is connected */
TR.connected TD{background-color:#ffa}
TR.connected:hover TD{background-color:#97b6c2;color:black}
/* Title in Label column */
TD.usercol1 SPAN{cursor: pointer;}
/* Style for Add New User */
TABLE.newuser {border:2px solid #0f1517;}
/*  Search */
TABLE.filter {width:80%}
TABLE.filter TD{text-align:right;background-color:transparent;color:#FFF;}

/* SERVICES.HTML */
/* Table class "stats" is in services.html */
TABLE.stats{border:3px solid #0f1517;background-color:#95a4ab}
TABLE.stats TH{padding:8px}
TABLE.stats TR:hover TD{background-color:#97b6c2;}
TABLE.stats TR:last-child:hover TD {background-color:#eeeeee;color:black;}
  
/* FAILBAN.HTML */
/* Table class "statsfailban" is in failban.html */
TABLE.statsfailban {border: 3px solid #0f1517;}
TABLE.statsfailban TH{padding:8px}
TABLE.statsfailban TR:hover TD {background-color:#97b6c2;color: white;}

/* CACHEEX.HTML */
/* Table class "statscacheex" is in cacheex.html */
TABLE.statscacheex {border: 3px solid #0f1517;}
TABLE.statscacheex TH{padding:8px}
TABLE.statscacheex TR:hover TD {background-color:#97b6c2;color: white;}

/* TH for all tables*/ 
TH{height:22px;font-family:Arial;font-size:11px;padding:3px;background-color:#0078a5;color:white}

/* TIMER */
/* Base style */
.settimer{
  position: fixed;
  top: 45px;
  right: 5%;
  z-index:1040;
  }
.settimer SPAN {
  width:150px;
  color:black;
  font-weight:normal;
  padding: 11px 20px;
  float:left;
  }
.settimer SPAN B {
  color:red;
  }
/* Refresh time - color settings */
.timercolor SPAN{
  background-color:#333333;
  color:#e0e0e0;
}
  
/* 6. FORM, BUTTONS, TEXTAREA
----------------------------------------------------------------------------- */
select {
	border: 1px solid #DDDDDD;
	padding: 0.25em 0.3em;
  }
select:hover{
  border:1px solid #000
  }
input[type="submit"] {
  /* Font */
  color:#fff;
  font-size:13px;
  text-align:center;
  /* Background color */
  background:#0095cc;
  /* Border */
  border: 1px solid #438FAE;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  /* Shadow */
  text-shadow: 0px -1px 0px #00416a;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  /* Other settings */
  margin-left:15px;
  padding:3px 10px 2px 10px;
  cursor:pointer;
  }
input[type="submit"]:hover {
  background:#0078A5;
  }
  
input[type="submit"]:active {
  background:#00698f;
  }
input[type="submit"].button {
  width:146px;
  margin-left:0
  }
input[type="text"] {
  border:1px solid #ddd;
  padding:.25em .3em
  }
input[type="text"]:hover,
input[type="text"]:active {
  border:1px solid #000;
  cursor:text
  }
textarea {
  border:1px solid #ddd;
  padding:.25em .3em;
  width:350px
  }
textarea:hover,textarea:active {
  border:1px solid #000;
  cursor:text
  }
TEXTAREA.editor {
  border:1px dotted #aaa;
  background-color:#fafafa;
  color:#333;
  width:95%;
  height:508px;
  padding:8px 10px;
  font-family:"Courier New",monospace;
  font-size:11px;
  word-wrap:break-word;
  text-align:left
  }
TEXTAREA.bt {
  font-family:Arial;
  font-size:12px
  }

/* 7. TOOLTIP
----------------------------------------------------------------------------- */  
.tooltip{
  position:absolute;
  z-index:1010;
  display:block;
  visibility:visible;
  padding:5px;
  font-size:12px;
  opacity:0;
  filter:alpha(opacity=0)
  }
table.status td.statuscol4 a{text-decoration:none;color:black}
table.status td.statuscol5 a.tooltip:hover span,
table.status td.statuscol5 a.tooltip1:hover span{
  display:block;
  position:absolute;
  top:0;
  right:100%;
  margin:0;
  margin-right:.2em;
  padding:1px 4px 2px;
  text-align:left;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background:inherit
  }
table.status td.statuscol16 a.tooltip:hover span,
table.status td.statuscol16 a.tooltip1:hover span{
  display:block;
  position:absolute;
  top:0;
  right:100%;
  margin:0;
  margin-right:.2em;
  padding:1px 4px 2px;
  text-align:left;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background:inherit
  }
table.status td.statuscol16 a.tooltip:hover,
table.status td.statuscol16 a.tooltip1:hover,
table.status td.statuscol5 a.tooltip:hover,
table.status td.statuscol5 a.tooltip1:hover{
  color:#fd4f07
  }
table.status td.statuscol16 a.tooltip,
table.status td.statuscol16 a.tooltip1,
table.status td.statuscol5 a.tooltip{
  background-color:#464646;
  padding:1px 4px 2px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font-size:10.5px;
  line-height:14px;
  color:white;
  vertical-align:baseline;
  white-space:nowrap;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  position:relative;
  opacity:1;
  cursor:pointer;
  text-decoration:none;
  display:block;
  z-index:1000
  }
table.status td.statuscol16 a.tooltip1{color:#ec373a}
table.status a.tooltip span{display:none}
table.status a.tooltip1 span{display:none}

/* 8. DIV.LOG ELEMENTS in page status.html
----------------------------------------------------------------------------- */
DIV.log{
  background-color:#fafafa;
  border:1px dotted #aaa;
  color:#333;
  padding:10px;
  font-family:"Courier New",monospace;
  font-size:11px;
  word-wrap:break-word;
  text-align:left;
  margin-top:-30px;
  margin:0 auto;
  width:97%;
  line-height:1.7;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px
  }
  
/* 9. DEBUG ELEMENTS
----------------------------------------------------------------------------- */
.debugt{
  color:white;
  font-weight:bold;
  padding:10px;
  font-size:11px;
  word-wrap:break-word;
  text-align:left;
  margin-top:-30px;
  margin:0 auto;
  width:97%;
  line-height:1.7;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px
  }
A.debugl:link,A.debugl:visited{
  text-decoration:none;
  padding:1px 9px 2px;
  border-radius:10px;
  color:#fff;
  white-space:nowrap;
  background:#4096ee
  }
A.debugl:hover{
  text-decoration:none;
  border-radius:10px;
  font-weight:bold;
  color:#fff;
  white-space:nowrap;
  background:#ff6400
  }
A.debugls:link,A.debugls:visited{
  text-decoration:none;
  padding:1px 9px 2px;
  border-radius:10px;
  color:white;
  white-space:nowrap;
  background:#c50000
  }

/* 10. BASIC DISTRIBUTION PAGE 
----------------------------------------------------------------------------- */  
/* Footer in bottom of the page */
html,body {
	height: 100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
.margintop {
   height:90px;
   }
#content {
	padding-bottom:160px; /* Height of the footer element */
  }
#footer {
	width:100%;
	height:130px;
	position:absolute;
	bottom:0;
	left:0;
  /* Footer background */
  background-color: #292929;
  border-top: 10px solid #005fb3;
  background: none repeat scroll 0% 0% rgb(16, 16, 16);
}
/* Footer text color */
#footer P {
	color: #a9a9a9;
  }
/* Footer text color for modern version */
#footer P.version {
  color:#fff;
  }

/* 11. IMG. ICON
----------------------------------------------------------------------------- */
IMG {
  border:0px solid;
  }
IMG.clientpicon {
  max-height:22px;
  max-width:72px;
  }
A:hover IMG.icon {
  background-color:#005aa8;
  width:22px;
  height:22px;
  }
IMG.icon {
  width:22px;
  height:22px;
  background-color:#007ae6;
  border-radius:3px;
  -webkit-border-radius:3px;
  }

/* 12. OTHER ELEMENTS
----------------------------------------------------------------------------- */
/* class warning is in shutdown.html */
DIV.warning UL {
	font-family: Arial;
	font-size: 12px;
	text-align:left;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
  }
DIV.filterform {margin: 10px;}
HR {height:1px; border-width:0; color:white; background-color:#AAAAAA}
DIV.sidlist {border:1px dotted #AAAAAA; background-color: #fffdf5; padding:2px; font-family:"Courier New", monospace ; color:#666666; font-size: 11px; word-wrap:break-word; text-align:left;}
DIV.message {font-family: Arial; font-size: 12px;font-weight:bold;margin-bottom: 10px;margin-top: -25px;}
DIV.div_notifier {height:14px;width:14px;border-radius:7px;-webkit-border-radius:7px;background-color:red;margin-left:4px;text-align:center;float:right;}
DIV.debugmenu {line-height:30px}
DIV.logmenu {line-height:20px}
DIV.logmenu A {color:#fff1c3;}
DIV.logmenu A:hover {color:#ff5c03;}
SPAN.e_valid {background-color:#E6FEBF;}
SPAN.e_expired {background-color:#fff3e7;}
SPAN.span_notifier {padding:1px 3px;border-radius:10px;color:#fff;margin-left:2px;background:#f00;}
SPAN.idlesec_normal {font-family: Arial; font-size: 9px;color: black}
SPAN.idlesec_alert {font-family: Arial; font-size: 9px;color: red}
SPAN.global_conf {color: blue; font-size: 12px; font-family: Arial; cursor: default; padding: 4px;}

/* 13. GRAPH
----------------------------------------------------------------------------- */
rect.graph_bg {fill:white;}
text.graph_error {text-anchor:middle;fill:red}
text.graph_grid_txt {fill:gray;text-anchor:end;style:font-size:12px}
path.graph_grid {stroke:gray;stroke-opacity:0.5}
  
/* 14. UNKNOWN CSS STYLE
----------------------------------------------------------------------------- */  
A:hover SPAN {display: block;position: absolute;top: 2em; right: 1em; margin: 0px;padding: 10px;color: #335500;font-weight: normal;background: #ffffdd;text-align: left;border: 1px solid #666;}

/* 15. CSS IN THE TEST
----------------------------------------------------------------------------- */
